body {
    margin: 0;
    background-color: #273549;
    padding: 50px;
    
}

.hero {
    
    border-bottom: 3px solid #2F3E53;
    margin-bottom: 35px;
    
     
}

.btn {
    margin: 0px auto 35px auto;
    color: white;
    background-color: #10B981;
    padding: 10px 18px;
    border: unset;
    border-radius: 6px;
    text-shadow: 0 0 1px black;
}

.hook {
    color: lightgrey;
    margin: 0 auto 50px auto;
}

h1 {
    margin-bottom: 10px;
    width: 280px;
    color: white;
    
}


.green {
    color: #4ADF86
}

.passwords {
    display: flex;
    justify-content: space-between;
    text-align: center;
}



.password {
   
    border-radius: 6px;
    padding: 8px 12px;
    background-color: #2F3E53;
    color: #10B981;
    width: 200px;

}


